@media screen and (max-width: 480px) {
    .greenbody {
      background-color: lightgreen;
      width:380px;
      border-width: 2px;
    }
  }
  @media screen and (max-width: 480px) {
    body {
      display:flex;
      width:380px;
      justify-content: center;
    }
  }

  