.header{
    display:flex;
    //padding-left: 100px;
    //font-size: larger;
    //flex: 1 1 auto
    align-items: center;
    font-size:x-large;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right:2px
    
    

}